<parallax-component></parallax-component>
<div class="home">
  <ul class="home_nav">
    <li class="home_item home_item--one">
      <a class="main-title" ui-sref="contact">{{'CONTACT' | translate}}</a>
    </li>
    <li class="home_item home_item--two">
      <a class="main-title" ui-sref="projects">{{'PROJECTS' | translate}}</a>
    </li>
    <li class="home_item home_item--three">
      <a class="main-title" ui-sref="skills">{{'SKILLS' | translate}}</a>
    </li>
    <li class="home_item home_item--four">
      <a class="main-title" ui-sref="about">{{'ABOUT' | translate}}</a>
    </li>
  </ul>
</div>
