<header ng-if="$root.showHeader" class="header container-fluid">
  <ul class="nav nav-justified">
    <li>
      <a ui-sref="home">HOME</a>
    </li>
    <li>
      <a ui-sref="contact">CONTACT</a>
    </li>
    <li>
      <a ui-sref="projects">PROJECTS</a>
    </li>
    <li>
      <a ui-sref="skills">SKILLS</a>
    </li>
    <li>
      <a ui-sref="about">ABOUT</a>
    </li>
    <li class="dropdown">
      <button class="btn btn-default dropdown-toggle" ng-click="header.activateDropdown()">
        {{ header.language.toUpperCase() }}
      </button>
      <ul class="dropdown-menu" ng-show="header.toggle">
        <li ng-click="header.selectLanguage('en')">EN</li>
        <li ng-click="header.selectLanguage('ru')">RU</li>
      </ul>
    </li>
  </ul>
</header>
