<header ng-if="$root.showHeader" class="header container-fluid">
  <ul class="nav nav-justified">
    <li>
      <a translate="HOME" ui-sref="home"></a>
    </li>
    <li>
      <a translate="CONTACT" ui-sref="contact"></a>
    </li>
    <li>
      <a translate="PROJECTS" ui-sref="projects"></a>
    </li>
    <li>
      <a translate="SKILLS" ui-sref="skills"></a>
    </li>
    <li>
      <a translate="ABOUT" ui-sref="about"></a>
    </li>
    <li class="dropdown">
      <button class="btn btn-default dropdown-toggle" ng-click="header.activateDropdown()">
        {{ header.language.toUpperCase() }}
      </button>
      <ul class="dropdown-menu" ng-if="header.toggle">
        <li ng-click="header.selectLanguage('en')">EN</li>
        <li ng-click="header.selectLanguage('ru')">RU</li>
      </ul>
    </li>
  </ul>
</header>
