<header class="header container-fluid">
  <div class="header_nav">
    <div ng-if="$root.showHeader" ng-click="header.menu = header.menu === false"
         class="header_button menu-button pull-left">
      <span>menu</span>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <div class="dropdown pull-left">
      <button class="header_button dropdown-toggle" ng-click="header.toggle = header.toggle === false">
        {{ header.language.toUpperCase() }}
      </button>
      <ul class="dropdown-menu" ng-if="header.toggle">
        <li ng-click="header.selectLanguage('en')">EN</li>
        <li ng-click="header.selectLanguage('ru')">RU</li>
      </ul>
    </div>
  </div>

  <div class="clearfix"></div>

  <div ng-if="$root.showHeader">
    <div ng-if="header.menu" class="overlay-menu">
      <div class="pull-right text-right overlay-menu_wrapp">
        <div class="close-menu_wrap" ng-click="header.menu = false">
          <div class="close-menu"></div>
        </div>
        <ul class="overlay-menu_nav">
          <li>
            <a class="overlay-menu_link" data-hover="{{'HOME' | translate}}"
               ng-click="(header.toggle = false) || (header.menu = false)"
               ui-sref="home">{{'HOME' | translate}}</a>
          </li>
          <li>
            <a data-hover="{{'CONTACT' | translate}}" class="overlay-menu_link"
              ng-click="(header.toggle = false) || (header.menu = false)"
               ui-sref="contact">{{'CONTACT' | translate}}</a>
          </li>
          <li>
            <a data-hover="{{'PROJECTS' | translate}}" class="overlay-menu_link"
               ng-click="(header.toggle = false) || (header.menu = false)"
               ui-sref="projects">{{'PROJECTS' | translate}}</a>
          </li>
          <li>
            <a data-hover="{{'SKILLS' | translate}}" class="overlay-menu_link"
               ng-click="(header.toggle = false) || (header.menu = false)"
               ui-sref="skills">{{'SKILLS' | translate}}</a>
          </li>
          <li>
            <a data-hover="{{'ABOUT' | translate}}" class="overlay-menu_link"
               ng-click="(header.toggle = false) || (header.menu = false)"
               ui-sref="about">{{'ABOUT' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
</header>


