<div>
    <section class="container">
        <h2 class="main-title main-title--cross text-center">{{'PROJECTS' | translate}}</h2>
        <div class="clearfix"></div>
        <div class="row project-wrap">
            <div class="col-sm-6 col-md-4">
                <div class="project">
                    <a href="https://bitbucket.org/mykytenkobohdan/skaia/src" target="_blank"
                       class="git-service git-service--bitbucket">Bitbucket</a>
                    <img class="project_image" src="/assets/images/projects/skaia.jpg" alt="skaia">
                    <div class="project_overlay text-center">
                        <div>
                            <h3 class="project_overlay-name">Skaia</h3>
                            <div class="project_overlay-develop">Front-end Development</div>
                        </div>
                        <ul class="project_technology text-center">
                            <li class="project_technology-item">jQuery</li>
                            <li class="project_technology-item">CSS</li>
                            <li class="project_technology-item">Bootstrap</li>
                            <li class="project_technology-item">VideoJS</li>
                        </ul>
                        <a target="_blank" class="project_view-site" href="http://skaia.fi/">{{'VIEW_SITE' | translate}}</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="project">
                    <a href="https://github.com/mykytenkobohdan/steelserias-angular" target="_blank"
                       class="git-service git-service--github">GitHub</a>
                    <img class="project_image" src="/assets/images/projects/steelserias.jpg" alt="steelserias">
                    <div class="project_overlay text-center">
                        <div>
                            <h3 class="project_overlay-name">Test Work</h3>
                            <div class="project_overlay-develop">Web Development</div>
                        </div>
                        <ul class="project_technology text-center">
                            <li class="project_technology-item">AngularJS</li>
                            <li class="project_technology-item">jQuery</li>
                            <li class="project_technology-item">SCSS</li>
                            <li class="project_technology-item">Bootstrap</li>
                            <li class="project_technology-item">NodeJS</li>
                            <li class="project_technology-item">ExpressJS</li>
                        </ul>
                        <a target="_blank" class="project_view-site" href="https://myangular-app.herokuapp.com/">{{'VIEW_SITE' | translate}}</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="project">
                    <a href="https://github.com/mykytenkobohdan/first-portfolio-refactor" target="_blank"
                       class="git-service git-service--github">GitHub</a>
                    <img class="project_image" src="/assets/images/projects/first-portfolio.jpg" alt="steelserias">
                    <div class="project_overlay text-center">
                        <div>
                            <h3 class="project_overlay-name">My first portfolio</h3>
                            <div class="project_overlay-develop">Web Development</div>
                        </div>
                        <ul class="project_technology text-center">
                            <li class="project_technology-item">jQuery</li>
                            <li class="project_technology-item">SCSS</li>
                            <li class="project_technology-item">Bootstrap</li>
                            <li class="project_technology-item">NodeJS</li>
                            <li class="project_technology-item">ExpressJS</li>
                        </ul>
                        <a target="_blank" class="project_view-site" href="https://myfportfolio.herokuapp.com/">{{'VIEW_SITE' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
