<div>
    <section class="container">
        <h2 class="main-title main-title--cross text-center">{{'PROJECTS' | translate}}</h2>
        <div class="clearfix"></div>
        <div class="row project-wrap">
            <div class="col-sm-6 col-md-4" ng-repeat="project in projects.otherProject">
                <div class="project">
                    <a href="{{project.gitService.url}}" target="_blank"
                       class="git-service" ng-class="project.gitService.name == 'Bitbucket' ? 'git-service--bitbucket' : 'git-service--github'">{{project.gitService.name}}</a>
                    <img class="project_image" ng-src="{{project.imageUrl}}" alt="skaia">
                    <div class="project_overlay text-center">
                        <div>
                            <h3 class="project_overlay-name">{{project.name}}</h3>
                            <div class="project_overlay-develop">{{project.development}}</div>
                        </div>
                        <ul class="project_technology text-center">
                            <li ng-repeat="tech in project.technology" class="project_technology-item">{{tech}}</li>
                        </ul>
                        <a target="_blank" class="project_view-site" href="{{project.url}}">{{'VIEW_SITE' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
