@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

html {
  font-size: 62.5%;
}

body {
  font: 1.4rem/1.2 'Montserrat', sans-serif;
  background-color: #ebebeb;
  color: #505354;
}

ul {
  list-style: none;
  margin: 0;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}
