<parallax-component></parallax-component>
<div class="container contact text-center">
  <h2 class="main-title main-title--cross text-center">{{'CONTACT' | translate}}</h2>
  <div class="clearfix"></div>
  <div class="content_box">
    <div class="content_row">
      <div class="content_box-ico">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>
      <div class="pull-left">
        <a class="contact_link" href="mailto:mykytenko.bohdan@gmail.com">Gmail</a>
      </div>
    </div>
    <div class="content_row">
      <div class="content_box-ico">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </div>
      <div class="pull-left">
        <a target="_blank" class="contact_link" href="https://www.linkedin.com/in/bohdan-mykytenko/">LinkedIn</a>
      </div>
    </div>
    <div class="content_row">
      <div class="content_box-ico">
        <i class="fa fa-github" aria-hidden="true"></i>
      </div>
      <div class="pull-left">
        <a target="_blank" class="contact_link" href="https://github.com/mykytenkobohdan">GitHub</a>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <form name="Form" class="contact_form" ng-submit="contact.sendMail(contact.name, contact.email, contact.text)">
      <fieldset>
        <label class="col-xs-12 col-sm-6">
          <input name="Name" ng-model="contact.name" placeholder="{{'NAME' | translate}}" class="contact_input"
                 type="text" required>
        </label>
        <label class="col-xs-12 col-sm-6">
          <input ng-model="contact.email" class="contact_input" type="text" placeholder="Email">
        </label>
        <label class="col-xs-12">
          <textarea ng-model="contact.text" placeholder="{{'COMMENT' | translate}}" class="contact_input"></textarea>
        </label>
        <div class="text-center">
          <div data-click="{{'SUCCESS' | translate}}" ng-class="contact.success" class="btn-wrapper">
            <input type="submit" class="btn-main" value="{{'SEND' | translate}}">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
