.contact {
  position: relative;
  z-index: 6;
  margin-top: 10vh;
}

.content_box {
  width: 10%;
  margin: 0 auto;
}

.content_box > .row {
  margin-top: 20px;
}

.contact_link:focus,
.contact_link {
  color: #111;
}

.contact_link {
  font-weight: 300;
}

.contact_link:hover {
  text-decoration: underline;
  color: #111;
}

.contact_form label {
  margin-top: 30px;
}

.contact_form textarea {
  resize: none;
  height: 25vh;
}

.contact_input {
  display: block;
  background: transparent;
  border: 2px solid #505354;
  width: 100%;
  padding: 15px 10px;
  font-weight: 300;
}

.btn-main {
  background-color: #505354;
  border: 2px solid #505354;
  padding: 10px 15px;
  outline: none;
  transition: 0.3s;
  color: #fff;
  display: inline-block;
  min-width: 100px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}

.btn-wrapper {
  margin: 7% auto 3%;
  display: inline-block;
  transition: 0.3s;
  position: relative;
}

.btn-wrapper:after {
  content: '';
  transition: 0.5s;
  position: absolute;
  top:100%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.btn-success:after {
  content: 'SUCCESS!';
  opacity: 1;
  top:50%;

}

.btn-success input:hover,
.btn-success input{
  background-color: #108022;
  border: 2px solid #108022!important;
  color: rgba(255, 255, 255, 0);
}

.btn-main:hover {
  background: transparent;
  color: #505354;
}

.contact_input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ссс;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
}

@media all and (max-width: 1199px) {
  .content_box {
    width: 14%;
  }
}

@media all and (max-width: 991px) {
  .content_box {
    width: 18%;
  }
}

@media all and (max-width: 767px) {
  .content_box {
    width: 100%;
  }

  .btn-main {
    margin-bottom: 7%;
  }

  .contact {
    margin-top: 40px;
  }
}
