<section class="container">
  <h2 class="main-title main-title--cross text-center">{{'ABOUT' | translate}}</h2>
  <div class="clearfix"></div>
  <p>
    Всем привет! Меня зовут Богдан, я Front-end developer.Свои первые шаги в вебе я сделал в 2015м году и понял,
    что это то чему хочу посвятить всего себя! С тех пор утекло немало строчек кода. Сейчас я работаю в команде.
  </p>
  <p>
    На протяжении 1.5 года я занимаюсь веб разработкойю.
    Моими ключевыми функциональными обязаностями является:
    Разработка адаптивных кроссбраузерных веб-приложений <br>
    Верстка новых страниц из PSD макетов <br>
    Адаптация новых и готовых страниц под мобильные устройства <br>
    Реализация JavaScript логики (слайдеры, попапы, анимации, AJAX и т.д.)
    используя как нативный js так и фреймверки, <br>
    интеграция новых модулей в готовые проекты.
  </p>
  <p>
    Коротко о себе <br>
    На данном этапе моей жизни одна из главных моих задач и целей - это достижение вершин в Web-разработке. Для этого я
    познаю новые технологии и тем самым улучшаю свои навыки и знания.
    В последнее время изучал Angular, NodeJs, Express, MongoDB и приобрел
    опыт работы с ними.
    И конечно, немного о личных качествах :D
  </p>
  <p>
    Я готов работать как в команде так и индивидуально. Я коммуникабельный, инициативный, легко обучаемый, ответственный
    и трудолюбивый человек.
  </p>
  <p>
    <a href="https://docs.google.com/document/d/19xq3AwVsYp74hxJOR7I4v_P4Op7xYwOrI9D9ED8cXm8/edit?usp=sharing">Подробнее
      здесь</a>

    или

    <a ui-sref="contact">Связатся со мной</a>
  </p>
</section>
