<section class="container">
  <h2 class="main-title main-title--cross text-center">{{'ABOUT' | translate}}</h2>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 offset-top">
      <img class="img-responsive col-xs-10 col-xs-offset-1" src="/assets/images/Podo-Avatar2-04.png" alt="">
    </div>
    <div class="clearfix"></div>
    <div class="col-md-10 col-md-offset-1 text-center offset-top">
      <p class="text-center">{{"ABOUT_1" | translate}}</p>
      <p>{{"ABOUT_2" | translate}}</p>
      <p>
        {{"ABOUT_3" | translate}}
        <img src="/assets/images/Awesome.png" width="20" height="20" alt="">
      </p>
      <p>{{"ABOUT_4" | translate}}</p>
    </div>
  </div>

  <div class="text-center">
    <a href="https://docs.google.com/document/d/19xq3AwVsYp74hxJOR7I4v_P4Op7xYwOrI9D9ED8cXm8/edit?usp=sharing"
       target="_blank">Мое резюме</a>
    <a ui-sref="contact">Связатся со мной</a>
  </div>
</section>
