<skills-component ng-cloak>
  <section class="container carousel">
    <h2 class="main-title main-title--cross text-center">{{'SKILLS' | translate}}</h2>
    <div class="carousel_main" id="carousel" data-carousel>
      <img data-skill="70" class="cloud9-item" src="/assets/images/skills/js.png" alt="JS">
      <img data-skill="65" class="cloud9-item" src="/assets/images/skills/angular.png" alt="Angular">
      <img data-skill="50" class="cloud9-item" src="/assets/images/skills/nodejs.png" alt="NodeJS">
      <img data-skill="50" class="cloud9-item" src="/assets/images/skills/mongodb.png" alt="MongoDB">
      <img data-skill="95" class="cloud9-item" src="/assets/images/skills/html-5.png" alt="HTML">
      <img data-skill="95" class="cloud9-item" src="/assets/images/skills/css3.png" alt="CSS">
      <img data-skill="85" class="cloud9-item" src="/assets/images/skills/sass.png" alt="SASS">
      <img data-skill="90" class="cloud9-item" src="/assets/images/skills/bootstrap.png" alt="Bootstrap">
      <img data-skill="50" class="cloud9-item" src="/assets/images/skills/gulp.png" alt="Gulp">
      <img data-skill="50" class="cloud9-item" src="/assets/images/skills/yeoman.png" alt="Yeoman">
    </div>
    <div class="row wrapper-title">
      <div class="skills-bar-wrap">
        <div class="skill-bar"></div>
      </div>
      <div class="col-xs-2 col-sm-1 col-md-offset-3 text-center">
        <i class="fa fa-angle-left carousel_arrows carousel_left" aria-hidden="true"></i>
      </div>
      <div class="col-xs-8 col-sm-10 col-md-4">
        <div class="carousel_title"></div>
      </div>
      <div class="col-xs-2 col-sm-1 text-center">
        <i class="fa fa-angle-right carousel_arrows carousel_right" aria-hidden="true"></i>
      </div>
    </div>
  </section>
</skills-component>

