.carousel_main {
    width: 100%;
    height: 420px;
    margin-top: 12%;
    margin-bottom: 5%;
}

.carousel_main img {
    cursor: pointer;
    width: auto;
    max-width: 100%;
    height: 120px;
}

.carousel_title {
    color: #F31414;
    font-size: 2.9rem;
    text-align: center;
}

.carousel_arrows {
    color: #F31414;
    font-size: 3.4rem;
    cursor: pointer;
}

/* canvas circle*/

.canvas-skills {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 7%;
}

.skills-bar-wrap {
    width: 40%;
    height: 30px;
    margin: -20px auto 20px;
    transition: 0.4s;
    background: #fff;
}

.skill-bar {
    height: 100%;
    width: 0;
    background: #666666;
    transition: 0.4s;
}

@media all and (max-width: 767px) {
    .cloud9-item {
        position: relative !important;
        transform: translate(0, 0) !important;
        float: left;
        width: 50% !important;
        margin-bottom: 15px;
        padding: 15px 15px 25px;
        height: auto !important;
    }

    .carousel_main {
        height: auto;
    }

    .carousel_main img {
        width: auto !important;
        margin: 0 auto;
        height: auto;
        max-height: 100px;
    }

    .cloud9-item canvas {
        display: none !important;
    }

    .wrapper-title {
        display: none;
    }

    .progress-wrapper {
        height: 15px;
        background: #f1f1f1;
        position: absolute;
        bottom: 0;
        z-index: 34;
        left: 15px;
        right: 15px;
    }

    .progress-line {
        background: #b62f32;
        height: 100%;
        transition: .6s;
        width: 0;
        border-radius: 4px;
    }
}
